html, body {
  height: 100%;
  width: 100%;
}

.reveal {
  section {
    span.highlight {
      color: red;
      font-style: bold;
    }
    li.no-bullet {
      list-style-type: none;
    }
    ul.no-bullet {
      list-style-type: none;
    }
    li.check:before {
      content: '\2713  ';
      color: #008000;
    }

    .upper {
      text-transform: uppercase;
    }

    h1, h2, h3, h4, h5, h6 {
      text-transform: none;
    }

    table.list {
      border-width: 0px;
    }

    img.captioned {
      max-height: 75%;
      max-width: 75%;
    }

    table .em {
      color: red;
      font-style: normal;
    }


    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    div.side-by-side {
      max-height: 50%;

      div {
        width: 45%;
        margin: 20px;
        float: left;
      }
    }

    div.cell {
      border: 0px solid;
      width: 50%;
      height: 300px;
      float: left;
    }
  }
}

